Package: com.netskao.wckeyboardhidelogo
Name: WCKeyboardHideLogo
Version: 1.1-1
Architecture: iphoneos-arm
Depends: mobilesubstrate, firmware (>= 13.0)
Description: WeChat Keyboard Hide Logo
Author: Netskao
Maintainer: Nets
Section: Netskao-Tweaks
